.Button {
  position: relative;
  display: block;
  margin: 2*$unit;
  padding: 3*$unit 7*$unit;
  border-radius: $border-radius;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: transform 200ms;
  -webkit-appearance: none;
  z-index: 1;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &--call-to-action {
    color: $brand-purple;
    background-color: $white;
  }

  &--secondary {
    background-color: $clear;
    color: $white;
    border: $unit/2 solid white;
  }
}