$unit: 4px;
$white: white;
$clear: rgba(255, 255, 255, 0);
$brand-purple: rgb(145, 117, 255);

$Container-padding: 4*$unit;
$Button-border-radius: 2*$unit;

@mixin breakpoint($max) {
   @media (max-width: $max) {
       @content;
   }
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif; 
  font-size: 5*$unit;
}

.Button {
  position: relative;
  display: block;
  margin: 2*$unit;
  padding: 3*$unit 7*$unit;
  border-radius: $Button-border-radius;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: transform 200ms;
  -webkit-appearance: none;
  z-index: 1;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.Row {
  display: flex;
  &--x-center {
    justify-content: center;
  }
}

.Container {
  padding: $Container-padding;
  width: 90vw;
  max-width: 180*$unit;
}

.AboutSection {
  padding: 10*$unit 20*$unit;
}