body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif; 
  font-size: 5*$unit;
}

h1, h2, h3 {
  margin-top: 0;
}

.ImageContainer { 
  &__Image {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100%;
    height: auto;
  }
}

.Container {
  width: 90vw;
  max-width: 250*$unit;
}

.Section {
  @extend .Row; //  :-/
  @extend .Row--y-center;
  @extend .Container;
  margin: 12*$unit auto;
  // margin: 12*$unit 20*$unit;

  @include breakpoint(200*$unit) {
    flex-direction: column;
    margin: 0;
    padding: $Container-padding;
  }

  &__content {
    margin-right: 10*$unit;
    max-width: 150*$unit;
    flex: 1;
  } 

  & &__ImageContainer {
    flex: 1;

    @include breakpoint(200*$unit) {
      width: 90vw;
      max-width: 180*$unit;
      height: auto;
    }

      // is this a good idea?!?
    & .ImageContainer__Image {
      box-shadow: 5px 5px 20px lightgrey;
    }
  }
}

.Event {
  @extend .is-rounded;

  padding: 4*$unit;
  // border: $unit/2 solid lightgrey;
  float: left;
  margin-right: 4*$unit;
}