// $hero-bg-color: #7755FF;
$Hero-bg-color: $brand-purple;
$Hero__title-height: 200px;
$Hero__title-margin-y: 22*$unit;
// $hero__title-margin-y: 18*$unit;

.Hero {
  background-color: $Hero-bg-color;
  color: $white;
  padding: 28*$unit $Container-padding;
  // padding: 24*$unit $container-padding;
  overflow: hidden;

  &__title {
    // font-size: 10*$unit;
    // width: 105*$unit;
    font-size: 16*$unit;
    width: 170*$unit;
    margin: $Hero__title-margin-y auto;
  }

  // probably too tightly coupled; move to Button modifiers
  // http://simurai.com/blog/2015/05/11/nesting-components
  & &__Button {
    &--call-to-action {
      color: $Hero-bg-color;
      background-color: $white;
    }

    &--secondary {
      background-color: $clear;
      color: $white;
      border: $unit/2 solid white;
    }
  }
}