// $hero-bg-color: #7755FF;
$Hero-bg-color: $brand-purple;
$Hero__title-height: 200px;
$Hero__title-margin-top: 32*$unit;
// $hero__title-margin-y: 18*$unit;

.Hero {
  background-color: $Hero-bg-color;
  color: $white;
  padding: 32*$unit $Container-padding;
  padding-top: 16*$unit;
  // border-bottom: 10px solid lighten($Hero-bg-color, 15%);
  // padding: 24*$unit $container-padding;
  overflow: hidden;
  // margin-bottom: 20*$unit;

  &__title {
    // font-size: 10*$unit;
    // width: 105*$unit;
    font-size: 16*$unit;
    width: 170*$unit;
    margin: 0 auto;
    margin-top: $Hero__title-margin-top;
    margin-bottom: 24*$unit;
  }

  // probably too tightly coupled; move to Button modifiers
  // http://simurai.com/blog/2015/05/11/nesting-components
  & &__Button {
    &--call-to-action {
      color: $Hero-bg-color;
      background-color: $white;
    }

    &--secondary {
      background-color: $clear;
      color: $white;
      border: $unit/2 solid white;
    }
  }
}