.Navbar {
  font-size: 4*$unit;
  text-align: center;
  line-height: 1;

  &__inner {
    @include clearfix;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    float: left;
  }

  &__link {
    display: block;
    padding: 2*$unit 4*$unit;
    margin: 0 6*$unit;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    border-radius: $border-radius;
    transition: background 200ms;
    
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}