// rather messy
.Cluster {
  $component: &;

  position: relative;
  width: 0;
  height: 0;
  top: $Hero__title-margin-y + ($Hero__title-height / 2);

  &--right {
    right: 50*$unit;
    // right: 80*$unit; 

    #{$component}__star {
      &:nth-child(1) { right: -20*$unit; top: -12*$unit; }
      &:nth-child(2) { right: 18*$unit; top: 0*$unit;   }
      &:nth-child(3) { right: 2*$unit; top: 24*$unit;  }
    }
  }

  // flip the right cluster to make left cluster
  // (origin of stars has to be normalized)
  &--left {
    left: 50*$unit;
    // left: 80*$unit;
    transform-origin: center;
    transform: rotate(-180deg);

    #{$component}__star {
      &:nth-child(1) { left: -20*$unit; top: -12*$unit; }
      &:nth-child(2) { left: 18*$unit; top: 0*$unit;   }
      &:nth-child(3) { left: 2*$unit; top: 24*$unit;  }
    }

    @include breakpoint(720px) {
      top: $Hero__title-margin-y + $Hero__title-height;
    } 
    @include breakpoint(560px) {
      top: $Hero__title-margin-y + $Hero__title-height * 2;
    } 
  }

  // shared star styles; twinkle animation and star sizes
  &__star {
    display: block;
    position: absolute;
    transition: transform 400ms;
    transform: translate(0, -50%);
    
    &:hover {
      transform: translate(0, -50%) scale(1.2);
    }
    
    &:nth-child(1) { animation: twinkle ease-in-out 8s infinite; }
    &:nth-child(2) { animation: twinkle ease-in-out 4s infinite; }
    &:nth-child(3) { animation: twinkle ease-in-out 3s infinite; }

    &--large  { width: 22*$unit; }
    &--medium { width: 14*$unit; }
    &--small  { width: 10*$unit; }

    // &--large  { width: 18*$unit; }
    // &--medium { width: 10*$unit; }
    // &--small  { width: 6*$unit; }
  }


  @include breakpoint(1200px) {
    opacity: 0.5;
  }
}

@keyframes twinkle {
    0%   { opacity: 1; }
    50%  { opacity: 0.25; }
}