$unit: 4px;
$white: white;
$grey: lightgrey;
$clear: rgba(255, 255, 255, 0);
// $brand-purple: #8767ff;
$brand-purple: #9175ff;

$Container-padding: 4*$unit;
$border-radius: 2*$unit;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Row {
  display: flex;

  &--x-center {
    justify-content: center;
  }

  &--y-center {
    align-items: center;
  }
}


@mixin breakpoint($max) {
   @media (max-width: $max) {
       @content;
   }
}

@mixin breakpoint-min($min) {
   @media (min-width: $min) {
       @content;
   }
}

.is {
  &-rounded {
    border-radius: $border-radius;
  }
}

.has {
  &-shadow {
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2);
  }
}