@import "fonts";
@import "utilities";

$hero-bg-color: #7755FF;
$white: white;

$unit: 4px;

$hero__title-height: 200px;
$hero__title-margin-y: 24*$unit;

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif; 
  font-size: 4*$unit;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.row {
  display: flex;
}

.hero {
  background-color: $hero-bg-color;
  color: $white;
  padding: 22*$unit 4*$unit;
  overflow: hidden;

  &__title {
    font-size: 14*$unit;
    width: 11em;
    margin: $hero__title-margin-y auto;
  }

  &__call-to-action {
    -webkit-appearance: none;
    display: block;
    margin: 0 auto;
    padding: 3*$unit 7*$unit;
    border-radius: 2*$unit;
    font-size: 5*$unit;
    font-weight: bold;
    color: #7755FF;
  }
}

.navbar {
  text-align: center;
  line-height: 1;

  &__inner {
    @include clearfix;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    float: left;
  }

  &__link {
    padding: 3*$unit 5*$unit;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.cluster {
  $component: &;

  position: relative;
  top: $hero__title-margin-y + ($hero__title-height / 2);

  &--right {
    right: 20*$unit; 

    #{$component}__star {
      &:nth-child(1) { right: 10*$unit; top: -12*$unit; }
      &:nth-child(2) { right: 48*$unit; top: 0*$unit;   }
      &:nth-child(3) { right: 32*$unit; top: 24*$unit;  }
    }
  }

  &__star {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 400ms;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
    
    &:nth-child(1) { animation: twinkle ease-in-out 8s infinite; }
    &:nth-child(2) { animation: twinkle ease-in-out 4s infinite; }
    &:nth-child(3) { animation: twinkle ease-in-out 3s infinite; }

    &--large  { width: 22*$unit; }
    &--medium { width: 14*$unit; }
    &--small  { width: 10*$unit; }
  }
}

@keyframes twinkle {
    0%   { opacity: 1; }
    50%  { opacity: 0.25; }
}