@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local("Space Grotesk"), url("/fonts/webfont/SpaceGrotesk-Regular.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local("Space Grotesk SemiBold"), url("/fonts/webfont/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local("Space Grotesk Bold"), url("/fonts/webfont/SpaceGrotesk-Bold.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-Bold.woff") format("woff"); }
.Row, .Section {
  display: flex; }
  .Row--x-center {
    justify-content: center; }
  .Row--y-center, .Section {
    align-items: center; }

.is-rounded, .Event {
  border-radius: 8px; }

.has-shadow {
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2); }

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  line-height: 1.45; }

main {
  overflow: hidden;
  padding-top: 80px; }

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.25; }

.ImageContainer__Image {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  height: auto; }

.Image {
  width: 50vw; }
  @media (max-width: 800px) {
    .Image {
      width: 90vw; } }

.Container, .Section {
  width: 90vw;
  max-width: 1000px; }

.AboutSection {
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  padding: 40px;
  margin-bottom: 40px; }
  .AboutSection__img-right {
    position: absolute;
    top: 8px;
    right: -32vw;
    width: 26vw;
    transform: rotate(5deg);
    transition: transform 400ms; }
    .AboutSection__img-right:hover {
      transform: rotate(3deg) scale(1.15); }
  .AboutSection__img-left {
    position: absolute;
    top: 232px;
    left: -36vw;
    width: 26vw;
    transform: rotate(-8deg);
    transition: transform 400ms; }
    .AboutSection__img-left:hover {
      transform: rotate(-6deg) scale(1.15); }
  .AboutSection img {
    max-width: 400px; }

.Section {
  margin: 48px auto; }
  @media (max-width: 800px) {
    .Section {
      flex-direction: column;
      margin: 0;
      padding: 16px; } }
  .Section__content {
    margin-right: 80px;
    max-width: 500px;
    flex: 1; }

.Event {
  padding: 16px;
  float: left;
  margin-right: 16px; }

.Button {
  position: relative;
  display: block;
  margin: 8px;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: transform 200ms;
  -webkit-appearance: none;
  z-index: 1; }
  .Button:hover {
    cursor: pointer;
    transform: scale(1.1); }
  .Button:active {
    transform: scale(0.9); }
  .Button--call-to-action {
    color: #9175ff;
    background-color: white; }
  .Button--secondary {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white; }

.Navbar {
  font-size: 16px;
  text-align: center;
  line-height: 1; }
  .Navbar__inner {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
    .Navbar__inner:after {
      content: "";
      display: table;
      clear: both; }
  .Navbar__item {
    float: left; }
  .Navbar__link {
    display: block;
    padding: 8px 16px;
    margin: 0 24px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    border-radius: 8px;
    transition: background 200ms; }
    .Navbar__link:hover {
      background: rgba(255, 255, 255, 0.2); }

.Hero {
  background-color: #9175ff;
  color: white;
  padding: 128px 16px;
  padding-top: 64px;
  overflow: hidden; }
  .Hero__title {
    font-size: 64px;
    width: 680px;
    margin: 0 auto;
    margin-top: 128px;
    margin-bottom: 96px; }
  .Hero .Hero__Button--call-to-action {
    color: #9175ff;
    background-color: white; }
  .Hero .Hero__Button--secondary {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white; }

.Cluster {
  position: relative;
  width: 0;
  height: 0;
  top: 228px; }
  .Cluster--right {
    right: 200px; }
    .Cluster--right .Cluster__star:nth-child(1) {
      right: -80px;
      top: -48px; }
    .Cluster--right .Cluster__star:nth-child(2) {
      right: 72px;
      top: 0px; }
    .Cluster--right .Cluster__star:nth-child(3) {
      right: 8px;
      top: 96px; }
  .Cluster--left {
    left: 200px;
    transform-origin: center;
    transform: rotate(-180deg); }
    .Cluster--left .Cluster__star:nth-child(1) {
      left: -80px;
      top: -48px; }
    .Cluster--left .Cluster__star:nth-child(2) {
      left: 72px;
      top: 0px; }
    .Cluster--left .Cluster__star:nth-child(3) {
      left: 8px;
      top: 96px; }
    @media (max-width: 720px) {
      .Cluster--left {
        top: 328px; } }
    @media (max-width: 560px) {
      .Cluster--left {
        top: 528px; } }
  .Cluster__star {
    display: block;
    position: absolute;
    transition: transform 400ms;
    transform: translate(0, -50%); }
    .Cluster__star:hover {
      transform: translate(0, -50%) scale(1.2); }
    .Cluster__star:nth-child(1) {
      animation: twinkle ease-in-out 8s infinite; }
    .Cluster__star:nth-child(2) {
      animation: twinkle ease-in-out 4s infinite; }
    .Cluster__star:nth-child(3) {
      animation: twinkle ease-in-out 3s infinite; }
    .Cluster__star--large {
      width: 88px; }
    .Cluster__star--medium {
      width: 56px; }
    .Cluster__star--small {
      width: 40px; }
  @media (max-width: 1200px) {
    .Cluster {
      opacity: 0.5; } }

@keyframes twinkle {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }

/*# sourceMappingURL=style.css.map */
