@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local("Space Grotesk"), url("/fonts/webfont/SpaceGrotesk-Regular.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local("Space Grotesk SemiBold"), url("/fonts/webfont/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local("Space Grotesk Bold"), url("/fonts/webfont/SpaceGrotesk-Bold.woff2") format("woff2"), url("/fonts/webfont/SpaceGrotesk-Bold.woff") format("woff"); }
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px; }

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  transition: transform 200ms; }
  button:hover {
    cursor: pointer;
    transform: scale(1.1); }
  button:active {
    transform: scale(0.9); }

.row {
  display: flex; }

.navbar {
  text-align: center;
  line-height: 1; }
  .navbar__inner {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0; }
    .navbar__inner:after {
      content: "";
      display: table;
      clear: both; }
  .navbar__item {
    float: left; }
  .navbar__link {
    padding: 12px 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em; }

.hero {
  background-color: #7755FF;
  color: white;
  padding: 88px 16px;
  overflow: hidden; }
  .hero__title {
    font-size: 56px;
    width: 600px;
    margin: 96px auto; }
  .hero__call-to-action {
    -webkit-appearance: none;
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #7755FF; }

.cluster {
  position: relative;
  width: 0;
  height: 0;
  top: 196px; }
  .cluster--right {
    right: 200px; }
    .cluster--right .cluster__star:nth-child(1) {
      right: -80px;
      top: -48px; }
    .cluster--right .cluster__star:nth-child(2) {
      right: 72px;
      top: 0px; }
    .cluster--right .cluster__star:nth-child(3) {
      right: 8px;
      top: 96px; }
  .cluster--left {
    left: 200px;
    transform-origin: center;
    transform: rotate(-180deg); }
    .cluster--left .cluster__star:nth-child(1) {
      left: -80px;
      top: -48px; }
    .cluster--left .cluster__star:nth-child(2) {
      left: 72px;
      top: 0px; }
    .cluster--left .cluster__star:nth-child(3) {
      left: 8px;
      top: 96px; }
  .cluster__star {
    display: block;
    position: absolute;
    transform: translate(0, -50%);
    transition: transform 400ms; }
    .cluster__star:hover {
      transform: translate(0, -50%) scale(1.2); }
    .cluster__star:nth-child(1) {
      animation: twinkle ease-in-out 8s infinite; }
    .cluster__star:nth-child(2) {
      animation: twinkle ease-in-out 4s infinite; }
    .cluster__star:nth-child(3) {
      animation: twinkle ease-in-out 3s infinite; }
    .cluster__star--large {
      width: 88px; }
    .cluster__star--medium {
      width: 56px; }
    .cluster__star--small {
      width: 40px; }

@keyframes twinkle {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }

/*# sourceMappingURL=style.css.map */
